.apps {
    &-block {
        padding: 5px 10px;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 5px;
        overflow: hidden;
    }
    &-control {
        padding: 10px;
        border: 1px solid #ced4da;
    }
    &-upload {
        margin-top: 5px;
        padding: 5px 10px;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 0.25rem;
        outline: none;
        transform: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
    }
    &-list {
        list-style-type: none;
        border: 1px solid #ced4da;
        overflow: auto;
        &-item {
            padding: 5px 10px;
            width: 100%;
            border-bottom: 1px solid #ced4da;
        }
    }
}
